<a href="https://colab.research.google.com/github/Ninja-draw-coder/PythonProjects/blob/main/NetFlix%20Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
#Netflix Dataset with Duplicates and Nulls

import pandas as pd
import numpy as np

# Create a sample Netflix dataset
data = {
    'movie_title': [
        'The Irishman',
        'Marriage Story',
        'Roma',
        'Bird Box',
        'The Irishman',  # Duplicate entry
        'Extraction',
        'The Platform',
        'Murder Mystery',
        'The Two Popes',
        'Roma',  # Duplicate entry
        'Spenser Confidential',
        None,  # Null value
        'The Old Guard',
        'Triple Frontier',
        '6 Underground'
    ],
    'ratings': [
        7.8,
        8.0,
        7.7,
        6.6,
        7.8,  # Duplicate rating for duplicate movie
        6.7,
        7.0,
        None,  # Null value
        7.6,
        7.7,  # Duplicate rating for duplicate movie
        6.2,
        5.9,
        6.7,
        None,  # Null value
        6.1
    ],
    'actor_name': [
        'Robert De Niro',
        'Adam Driver',
        'Yalitza Aparicio',
        'Sandra Bullock',
        'Al Pacino',  # Different actor for duplicate movie
        'Chris Hemsworth',
        'Ivan Massagu√©',
        'Adam Sandler',
        'Anthony Hopkins',
        None,  # Null value for duplicate movie
        'Mark Wahlberg',
        'Will Ferrell',
        'Charlize Theron',
        'Ben Affleck',
        'Ryan Reynolds'
    ]
}

# Create the DataFrame
netflix_df = pd.DataFrame(data)

# Display the DataFrame
#print(netflix_df)

# Check for nulls
print("\nNull values in each column:")
#print(netflix_df.isnull())

# replacing na values in columns
newdf = pd.DataFrame(netflix_df["actor_name"].dropna())
newdf = pd.concat(netflix_df["ratings"].dropna())
#newdf = newdf.concate(netflix_df["movie_title"].fillna("No Title"))
#newdf = netflix_df["movie_title"].fillna("No Title")
print("\n DataFrame After replacing null values:")
print(newdf)

# Check for duplicates
print("\nDuplicate movie titles:")
#print(netflix_df[netflix_df.duplicated(subset=['movie_title'], keep=False)])
#print(netflix_df['movie_title'].unique())

Null values in each column:

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"